<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="text-theme-primary">{{ formStatus }} Post</h3>
      <p class="mb-5">You can {{ formStatus }} post here</p>
    </div>
  </div>

  <div *ngIf="postForm">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-7">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label for=""> Title </label>
                <input
                  type="text"
                  class="form-control"
                  (keyup)="onTitleChange($event)"
                  formControlName="title"
                  [ngClass]="{
                    'is-invalid': f['title'].errors && f['title'].touched
                  }"
                />
                <div *ngIf="f['title'].errors && f['title'].touched">
                  <div class="alert alert-danger" *ngIf="f['title'].errors?.['required']">Title is required</div>
                  <div class="alert alert-danger" *ngIf="f['title'].errors?.['minlength']">Title min characters 10</div>
                </div>
              </div>

              <div class="form-group">
                <label for=""> Permalink </label>
                <input
                  type="text"
                  class="form-control"
                  [value]="permalink"
                  formControlName="permalink"
                />
              </div>

              <div class="form-group">
                <label for=""> Excerpt </label>
                <textarea
                  cols="30"
                  rows="10"
                  class="form-control"
                  formControlName="excerpt"
                  [ngClass]="{
                    'is-invalid': f['excerpt'].errors && f['excerpt'].touched
                  }"
                ></textarea>
                <div *ngIf="f['excerpt'].errors && f['excerpt'].touched">
                  <div class="alert alert-danger" *ngIf="f['excerpt'].errors?.['required']">Expect is required</div>
                  <div class="alert alert-danger" *ngIf="f['excerpt'].errors?.['minlength']">Expect min characters 50</div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5 mt-3">
          <div class="form-group">
            <label for="">Please select a post category</label>
            <select
              class="form-control"
              formControlName="category"
              [ngClass]="{
                'is-invalid': f['category'].errors && f['category'].touched
              }"
            >
              <option value="" disabled choose>Please select a category</option>
              <option *ngFor="let category_ of categories | async" value="{{ category_.id }}-{{ category_.category }}">
                {{ category_.category }}
              </option>
            </select>
            <div *ngIf="f['category'].errors && f['category'].touched">
              <div class="alert alert-danger" *ngIf="f['category'].errors?.['required']">Category is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for=""> Post Image </label>
            <img [src]="imgSrc" class="form-control img-fuild img-preview" />
            <input
              type="file"
              class="form-control"
              accept="image/*"
              (change)="showPreview($event)"
              formControlName="postImg"
              [ngClass]="{
                'is-invalid': f['postImg'].errors && f['postImg'].touched
              }"
            />
            <div *ngIf="f['postImg'].errors && f['postImg'].touched">
              <div class="alert alert-danger" *ngIf="f['postImg'].errors?.['required']">Post Image is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-5">
        <div class="col-md-12">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label for=""> Content </label>

                <angular-editor
                  placeholder="Add your content here"
                  formControlName="content"
                ></angular-editor>

                <div *ngIf="f['content'].errors && f['content'].touched">
                  <div class="alert alert-danger" *ngIf="f['content'].errors?.['required']">Content is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-center mb-5">
          <button class="btn btn-info bg-theme text-white" [disabled]="postForm.invalid">{{ formStatus }} Post</button
          >&nbsp;
          <button class="btn btn-warning ml-3" routerLink="/posts">
            Back to Post
          </button>
        </div>
      </div>
    </form>
  </div>

</div>
