<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-primary"> All Blog Posts </h3>
          <p> From here you can manage your blog posts. </p>
          <button class="btn btn-sm btn-info bg-theme text-white" routerLink="/posts/new"> Add New Post </button>&nbsp;
          <button class="btn btn-sm btn-warning" routerLink="/"> Back to Dashboard </button>
        </div>
      </div>
    </div>
  </div>
</div>
